1. https://leetcode.com/problems/actors-and-directors-who-cooperated-at-least-three-times/

SQL solution

SELECT
  actor_id,
  director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(*) >= 3;

In [21]:
# Pandas solution 
import pandas as pd

data = {
    'actor_id': [1, 1, 1, 1, 1, 2, 2],
    'director_id': [1, 1, 1, 2, 2, 1, 1],
    'timestamp': [0, 1, 2, 3, 4, 5, 6]
}

df = pd.DataFrame(data)

result = (
    df.groupby(['actor_id', 'director_id'])
      .size()
      .reset_index(name='count')
      .query('count >= 3')[['actor_id', 'director_id']]
)

#print(result)
print(result.to_string(index=False))

 actor_id  director_id
        1            1

2. https://leetcode.com/problems/fix-names-in-a-table/

SQL solution

SELECT
  user_id,
  CONCAT(UPPER(LEFT(name, 1)), LOWER(SUBSTRING(name, 2))) AS name
FROM Users
ORDER BY user_id;

In [22]:
# Pandas solution 
import pandas as pd

data = {
    'user_id': [1, 2],
    'name': ['aLIce', 'bOB']
}
df = pd.DataFrame(data)

df['name'] = df['name'].str.capitalize()

result = df.sort_values('user_id')

print(result.to_string(index=False))

 user_id  name
       1 Alice
       2   Bob

3. https://leetcode.com/problems/combine-two-tables/

SQL

SELECT
  p.firstName,
  p.lastName,
  a.city,
  a.state
FROM Person p
LEFT JOIN Address a
  ON p.personId = a.personId;

In [23]:
# Pandas
import pandas as pd

person = pd.DataFrame({
    'personId': [1, 2],
    'lastName': ['Wang', 'Alice'],
    'firstName': ['Allen', 'Bob']
})

address = pd.DataFrame({
    'addressId': [1, 2],
    'personId': [2, 3],
    'city': ['New York City', 'Leetcode'],
    'state': ['New York', 'California']
})

result = pd.merge(
    person,
    address,
    on='personId',
    how='left'  
)[['firstName', 'lastName', 'city', 'state']]

print(result.to_string(index=False))

firstName lastName          city    state
    Allen     Wang           NaN      NaN
      Bob    Alice New York City New York

4. https://leetcode.com/problems/second-highest-salary/

SQL

SELECT
  MAX(salary) AS SecondHighestSalary
FROM Employee
WHERE salary < (
  SELECT MAX(salary) FROM Employee
);

In [24]:
# Pandas
import pandas as pd

data = {
    'id': [1, 2, 3],
    'salary': [100, 200, 300]
}
employee = pd.DataFrame(data)

unique_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False)

if len(unique_salaries) < 2:
    result = pd.DataFrame({'SecondHighestSalary': [None]})
else:
    result = pd.DataFrame({'SecondHighestSalary': [unique_salaries.iloc[1]]})

print(result.to_string(index=False))

 SecondHighestSalary
                 200

5. https://leetcode.com/problems/list-the-products-ordered-in-a-period/

SQL

SELECT 
  p.product_name,
  SUM(o.unit) AS unit
FROM Products p
JOIN Orders o
  ON p.product_id = o.product_id
WHERE 
  o.order_date BETWEEN '2020-02-01' AND '2020-02-29'
GROUP BY 
  p.product_id, p.product_name
HAVING 
  SUM(o.unit) >= 100;

In [25]:
# Pandas
import pandas as pd

# Products
products = pd.DataFrame({
    'product_id': [1, 2, 3, 4, 5],
    'product_name': ['Leetcode Solutions', 'Jewels of Stringology', 'HP', 'Lenovo', 'Leetcode Kit'],
    'product_category': ['Book', 'Book', 'Laptop', 'Laptop', 'T-shirt']
})

# Orders
orders = pd.DataFrame({
    'product_id': [1, 1, 2, 2, 3, 3, 4, 4, 4, 5, 5, 5],
    'order_date': pd.to_datetime([
        '2020-02-05', '2020-02-10', '2020-01-18', '2020-02-11',
        '2020-02-17', '2020-02-24', '2020-03-01', '2020-03-04',
        '2020-03-04', '2020-02-25', '2020-02-27', '2020-03-01'
    ]),
    'unit': [60, 70, 30, 80, 2, 3, 20, 30, 60, 50, 50, 50]
})

# filter data for 2020 2
feb_orders = orders[
    (orders['order_date'] >= '2020-02-01') &
    (orders['order_date'] <= '2020-02-29')
]

total_units = feb_orders.groupby('product_id', as_index=False)['unit'].sum()

filtered = total_units[total_units['unit'] >= 100]

result = pd.merge(filtered, products[['product_id', 'product_name']], on='product_id')[['product_name', 'unit']]

print(result.to_string(index=False))

      product_name  unit
Leetcode Solutions   130
      Leetcode Kit   100

6. https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/

SQL

SELECT 
  eu.unique_id,
  e.name
FROM Employees e
LEFT JOIN EmployeeUNI eu
  ON e.id = eu.id;

In [26]:
# Pandas
import pandas as pd

employees = pd.DataFrame({
    'id': [1, 7, 11, 90, 3],
    'name': ['Alice', 'Bob', 'Meir', 'Winston', 'Jonathan']
})

employee_uni = pd.DataFrame({
    'id': [3, 11, 90],
    'unique_id': [1, 2, 3]
})

result = pd.merge(employees, employee_uni, on='id', how='left')[['unique_id', 'name']]

print(result.to_string(index=False))

 unique_id     name
       NaN    Alice
       NaN      Bob
       2.0     Meir
       3.0  Winston
       1.0 Jonathan

7. https://leetcode.com/problems/game-play-analysis-iv/

SQL

WITH first_login AS (
  SELECT player_id, MIN(event_date) AS first_date
  FROM Activity
  GROUP BY player_id
)
SELECT ROUND(AVG(a2.player_id IS NOT NULL), 2) AS fraction
FROM first_login f
LEFT JOIN Activity a2
  ON a2.player_id = f.player_id
 AND a2.event_date = DATE_ADD(f.first_date, INTERVAL 1 DAY);

In [27]:
# Pandas
import pandas as pd

data = {
    'player_id': [1, 1, 2, 3, 3],
    'device_id': [2, 2, 3, 1, 4],
    'event_date': ['2016-03-01', '2016-03-02', '2017-06-25', '2016-03-02', '2018-07-03'],
    'games_played': [5, 6, 1, 0, 5]
}

Activity = pd.DataFrame(data)
Activity['event_date'] = pd.to_datetime(Activity['event_date'])

first_login = (
    Activity.groupby('player_id', as_index=False)['event_date']
            .min()
            .rename(columns={'event_date': 'first_date'})
)
first_login['next_day'] = first_login['first_date'] + pd.Timedelta(days=1)

activity_set = set(zip(Activity['player_id'], Activity['event_date']))

first_login['logged_next_day'] = first_login.apply(
    lambda x: (x['player_id'], x['next_day']) in activity_set,
    axis=1
)

fraction = round(first_login['logged_next_day'].mean(), 2)

result = pd.DataFrame({'fraction': [fraction]})

print(result.to_string(index=False))

 fraction
     0.33

8. https://leetcode.com/problems/project-employees-i/

SQL

SELECT
  p.project_id,
  ROUND(AVG(e.experience_years), 2) AS average_years
FROM Project p
JOIN Employee e
  ON p.employee_id = e.employee_id
GROUP BY p.project_id;

In [28]:
# Pandas
import pandas as pd

project = pd.DataFrame({
    'project_id': [1, 1, 1, 2, 2],
    'employee_id': [1, 2, 3, 1, 4]
})

employee = pd.DataFrame({
    'employee_id': [1, 2, 3, 4],
    'name': ['Khaled', 'Ali', 'John', 'Doe'],
    'experience_years': [3, 2, 1, 2]
})

merged = pd.merge(project, employee, on='employee_id')

result = (
    merged.groupby('project_id', as_index=False)['experience_years']
          .mean()
          .rename(columns={'experience_years': 'average_years'})
)

result['average_years'] = result['average_years'].round(2)

print(result.to_string(index=False))

 project_id  average_years
          1            2.0
          2            2.5

9. https://leetcode.com/problems/department-top-three-salaries/

SQL

SELECT 
  d.name AS Department,
  e.name AS Employee,
  e.salary AS Salary
FROM Employee e
JOIN Department d
  ON e.departmentId = d.id
WHERE (
    SELECT COUNT(DISTINCT e2.salary)
    FROM Employee e2
    WHERE e2.departmentId = e.departmentId
      AND e2.salary > e.salary
) < 3;

In [29]:
# Pandas
import pandas as pd

employee = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6, 7],
    'name': ['Joe', 'Henry', 'Sam', 'Max', 'Janet', 'Randy', 'Will'],
    'salary': [85000, 80000, 60000, 90000, 69000, 85000, 70000],
    'departmentId': [1, 2, 2, 1, 1, 1, 1]
})

department = pd.DataFrame({
    'id': [1, 2],
    'name': ['IT', 'Sales']
})

merged = pd.merge(employee, department, left_on='departmentId', right_on='id', how='inner')
merged.rename(columns={'name_x': 'Employee', 'name_y': 'Department'}, inplace=True)

merged['rank'] = merged.groupby('Department')['salary'].rank(method='dense', ascending=False)

result = merged[merged['rank'] <= 3][['Department', 'Employee', 'salary']]
result.rename(columns={'salary': 'Salary'}, inplace=True)

print(result.to_string(index=False))

Department Employee  Salary
        IT      Joe   85000
     Sales    Henry   80000
     Sales      Sam   60000
        IT      Max   90000
        IT    Randy   85000
        IT     Will   70000